rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isAdmin() {
      	return request.auth.uid == "fY6g8kg5RmYuhvoTC6rlkzES89h1";
    }
    
    function isEditor() {
      	return exists(/databases/$(database)/documents/editors/$(request.auth.uid));
    }
  
  	match /errors/{error} {
        allow write;
    }
    
    match /editors/{userId} {
        allow write: if isAdmin();
    }
  
  	match /users/{userId} {
        allow create: if request.auth.uid != null && request.auth.token.firebase.sign_in_provider == 'password';
        allow update: if request.auth.uid == userId;
        allow delete: if isAdmin();
    }

    match /users/{userId}/shoppingList/{recipeName} {
        allow write: if request.auth.uid == userId
    }
    
    match /recipes/{recipeName} {
        allow create: if isAdmin() || isEditor();
        allow update: if isAdmin() || (resource.data.editorUid == request.auth.uid && isEditor());
        allow delete: if isAdmin();
    }
    
    match /recipes/{recipeName}/comments/{commentId} {
        allow write: if isAdmin() || isEditor();
    }

    match /recipes/{recipeName}/satisfaction/{userId} {
        allow write: if userId == request.auth.uid && isEditor()
    }

    match /recipes/{recipeName}/attachments/{userId} {
        allow write: if userId == request.auth.uid && isEditor()
    }
    
    match /rating/{recipe} {
        allow write: if isAdmin() || isEditor();
    }
    
    match /trials/{document=**} {
        allow write: if isAdmin() || isEditor();
    }
    
    match /{document=**} {
        allow read: if request.auth.uid != null;
    }
  }
}