service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
        allow read: if request.auth.uid != null;
        // limit access to our function
        allow write: if false;
    }
  }
}
