  
name: Remove old artifacts

on:
  schedule:
    # Every day at 1am
    - cron: '0 8 * * 0'

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Remove old artifacts
      uses: c-hive/gha-remove-artifacts@v1.1.0
      with:
        age: '1 month'
        skip-tags: true
